
.formulario-plato-contenedor {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  background: white;
  padding: 40px 20px;
}

.formulario-plato-centro {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.formulario-plato-titulo {
  margin-top: 0;
  color: #333;
  text-align: center;
}

.formulario-plato-form {
  width: 100%;
  max-width: 350px; /* controla el tamaño visual */
  padding: 24px;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formulario-plato-form:hover{
  transform: scale(1.05);
}

.formulario-plato-input,
.formulario-plato-file {
  padding: 5px;
  font-size: 11px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.formulario-plato-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.formulario-plato-boton {
  background-color: #f3091c;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
}

.formulario-plato-boton:hover {
  background-color: #a02d36;
}

.formulario-plato-tabla {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: white;
}

.formulario-plato-tabla th {
  background-color: #f3091c;
  color: white;
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

.formulario-plato-tabla tr:nth-child(even) {
  background-color: #fdf3f3;
}

.formulario-plato-tabla tr:hover {
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  transition: background-color 0.2s ease-in-out;
}

.formulario-plato-tabla td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.formulario-plato-tabla thead {
  background-color: #f3091c;
  color: white;
}

.formulario-plato-tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.idEditar {
  background-color: #cd9104; /* Amarillo */
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

.idEliminar {
  background-color: #f94144; /* Rojo */
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.idEditar:hover {
  background-color: #f98404;
  transform: scale(1.05);
}

.idEliminar:hover {
  background-color: #d90429;
  transform: scale(1.05);
}

.formulario-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
